body {
  background-color: #444444;
  color: #ddd;
  font-family: Garamond, Helvetica, sans-serif;
  margin: 10% 20%;
}
.edu-header{
  text-align: center;
  text-transform:uppercase;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: rgba(0,0,0,0.1);
}
.name{
  text-align: center;
  color: orange;
}
.edu-item {
  text-align: center;
}
.Experience-header{
  text-align: center;
  text-transform:uppercase;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: rgba(0,0,0,0.1);
}
.experience-item{
  text-align: left;
}
.bottom{
  border-top: 1px solid #ddd;
}
