body {
  background-color: #444444;
  color: #ddd;
  font-family: Garamond, Helvetica, sans-serif;
  margin: 10% 20%;
}
.edu-header{
  text-align: center;
  text-transform:uppercase;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: rgba(0,0,0,0.1);
}
@keyframes moveNameDiv{
  0%   { left:0px;}
  25%  { left:-135px;}
  50%  { left:135px;}
  75%  { left:0px;}
  
}
.name{
  text-align: center;
  color: orange;
  
  position: relative;
  animation-name: moveNameDiv;
  animation-duration: 6s;
  animation-delay: 2s;
  animation-iteration-count: infinite;

}
.edu-item {
  text-align: center;
}
.Experience-header{
  text-align: center;
  text-transform:uppercase;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: rgba(0,0,0,0.1);
  
}
.experience-item{
  text-align: left;
}
.bottom{
  border-top: 1px solid #ddd;
}

article{
  max-height: 70px;
  overflow:hidden;
  transition:max-height 0.5s;
  
  
}
.summary{
  margin-bottom: 16px;
}

button{
  background:none;
  color: #fff;
  padding: 0.6rem;
  margin-top: 20px;
  border-radius: 4px;
  margin-bottom: 20px;
  border-color: white;
  
}
.buttonArea{
  margin: none;
  padding-left: 50px;
}

article.open{
  max-height:1000px;
}
button:hover{
  cursor: pointer;
  
}


